<div class="wrapper FLOAT hide">

<div class="max_float">
    <div class="g1">
    </div>
    <div class="g2">
        <div class="container float">
            <div class="title">FLOAT</div>
            <div class="elenco">
                <div class="cat status SERIAL">
                    <label>
                    <span>
                        SERIAL CONNECTION
                    </span>
                    </label>    
                </div>
                <div class="cat status READY">
                    <label>
                    <span>
                        FLOAT READY
                    </span>
                    </label>    
                </div>
                <div class="cat status DROP disabled" onclick="msg(this, 0)">
                    <label><span>DROP</span></label>    
                </div>
                <div class="cat status DROP disabled" onclick="statusFLOAT('SEND_PACKAGE')">
                    <label><span>SEND PACKAGE</span></label>    
                </div>
                <div class="cat status DROP disabled" onclick="msg(this, 1)">
                    <label><span>TOGGLE AUTO MODE</span></label>    
                </div>
                <div class="cat status DROP disabled" onclick="msg(this, 2)">
                    <label><span>UPLOAD</span></label>    
                </div>
                <div class="cat status DROP disabled" onclick="msg(this, 3)">
                    <label><span>BALANCE</span></label>    
                </div>
                <div class="cat status DROP disabled" onclick="msg(this, 4)">
                    <label><span>CLEAR SD</span></label>    
                </div>

                <div class="cat status IMMERSION" >
                    <label>
                    <span>
                        IMMERSION
                    </span>
                    </label>    
                </div>
                <div class="cat status LISTENING" style="background-color: #161A1D;">
                    <label>
                    <span>
                        LISTENING
                    </span>
                    </label>    
                </div>
                <div class="cat status AUTO_MODE" style="background-color: #161A1D;">
                    <label>
                    <span>
                        AUTO MODE
                    </span>
                    </label>    
                </div>
                <div class="cat status CONN" style="background-color: #161A1D;">
                    <label>
                    <span>
                        CONNECTION
                    </span>
                    </label>    
                </div>
            </div>
        </div>
    </div>
</div>
</div>
