<!DOCTYPE html>
<html >
<head>
    <title>Politocean GUI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./CSS/GUI.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./CSS/ROV.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./CSS/bottoni.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./CSS/FLOAT.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./CSS/slider.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./CSS/PID.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./CSS/switch.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./CSS/dropdown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./CSS/task_1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./node_modules/flight-indicators-js/css/flight-indicators.css')}}"/>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='./po.png')}}">
</head>
<body>
    <div class="all">
        <div class="toolbar">
            <button class="options" id="ROV" onclick="change('ROV')">ROV</button>
            <button class="options" id="FLOAT" onclick="change('FLOAT')">FLOAT</button>
            <button class="options" id="PID" onclick="change('PID')">PID</button>
            <button class="options" id="TASK_1" onclick="change('TASK_1')">TASK 3</button>
        </div>
        <div class="window">

            <!-- COMPONENTS -->

        </div>
    </div>
    <script src="{{url_for('static', filename='./node_modules/socket.io-client/dist/socket.io.js')}}"></script>
    <script src="{{url_for('static', filename='./node_modules/mqtt/dist/mqtt.min.js')}}"></script>
    <script src="{{url_for('static', filename='./node_modules/flight-indicators-js/js/flight-indicators.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='./JS/GUI.js')}}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='./JS/mqtt.js')}}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='./JS/ROV.js')}}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='./JS/Float.js')}}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='./JS/PID.js')}}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='./JS/Tasks.js')}}" ></script>
    <script type="text/javascript" src="{{ url_for('static', filename='./JS/Stopwatch.js')}}" ></script>
 </body>
</html>