<div class="wrapper TASK_1 hide" id="TASK_1_FORM">
    <div class="max_task_1">
        <div class="container flex_task_1">
            <h1 class="title">TASK 1</h1>
            <div class="form_task">
                <input type="file" id="fileInput" accept=".csv" onchange="(e) => uploadFile(e)">
                <div id="fileInfo">

                </div>
            </div>
            <h2 class="title">Risultati elaborazione dati</h2>
            <div class="task1_res">

            </div>
        </div>
    </div>
</div>