altgraph==0.17.3
numpy==1.23.5
opencv-python==4.6.0.66
paho-mqtt==1.6.1
pyinstaller==5.7.0
pyinstaller-hooks-contrib==2022.14
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyqtgraph==0.13.1
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
PySDL2==0.9.14
pysdl2-dll==2.26.1
PyYAML==6.0
pyyaml-include==1.3
